body {
    background-color: aqua;
}

#calcContainer {
    background-color: lightslategray;
    margin: auto;
    width: 50%;
    min-width: 250px;
    border: 3px solid lightslategrey;
    
    padding-top: 20px;
    /* padding: 10px; */
}

#screen {
    margin: auto;
    width: 80%;
    height: 100px;
    border: 2px solid black;
    background-color: lightgray;
    padding: 5px;
    font-size: 80px;
    text-align: right;
    overflow: hidden;
    text-overflow: clip;

}

#topRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 20px;
    margin: 20px;
    justify-content: center;
}

#secondRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;

}

#thirdRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;

}

#fourthRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;

}

#fifthRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;

}

.fButtons {
    border: 1px solid blue;
    background-color: azure;
    padding: 10px;
    margin: auto;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
}

.numbers {
    border: 1px solid silver;
    background-color: silver;
    padding: 10px;
    margin: auto;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
}

.operators {
    border: 1px solid green;
    background-color: green;
    color: aliceblue;
    padding: 10px;
    margin: auto;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
}

#equals {
    border: 1px solid green;
    background-color: green;
    padding: 10px;
    margin: auto;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    color: aliceblue;
}

.cashReg {
    flex-direction: column;
    border: 1px solid blueviolet;
    padding: 10px;
    margin: auto;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    background-color: blueviolet;
    color: whitesmoke;
    border-radius: 15px;

}

#hidden {
    visibility: hidden;
}