body {
    background-color: aqua;
}

#calcContainer {
    background-color: white;
    margin: auto;
    width: 50%;
    min-width: 250px;
    border: 3px solid red;
    
    padding-top: 20px;
    /* padding: 10px; */
}

#screen {
    margin: auto;
    width: 80%;
    height: 100px;
    border: 2px solid black;
    background-color: lightgray;
    padding: 5px;
    font-size: 70px;
    text-align: right;

}

#topRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

#secondRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;

}

#thirdRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;

}

#fourthRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;

}

#fifthRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;

}

.fButtons {
    border: 1px solid blue;
    background-color: azure;
    padding: 10px;
    margin: auto;
    width: 28px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.numbers {
    border: 1px solid blue;
    background-color: rosybrown;
    padding: 10px;
    margin: auto;
    width: 28px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.operators {
    border: 1px solid blue;
    background-color: green;
    padding: 10px;
    margin: auto;
    width: 28px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

#equals {
    border: 1px solid blue;
    background-color: green;
    padding: 10px;
    margin: auto;
    width: 28px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.cashReg {
    flex-direction: column;
    border: 1px solid blueviolet;
    padding: 10px;
    margin: auto;
    width: 28px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: blueviolet;
    color: whitesmoke;

}

#hidden {
    visibility: hidden;
}